.hr {
  height: 2;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: black;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 70px;
}

.text-box p {
  margin: 5px 0 40px;
  font-size: 17px;
  color: #fff;
}

/*----Features----*/
.features, .products{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}

section.features h1, section.products h1, section.faq h1, section.testimonials h1 {
  font-size: 50px;
  font-weight: 600;
}

section.features h2, section.faq h2, section.testimonials h2 {
  font-size: 20px;
  margin-top: 20px;
  font-style: normal;
}

h3 {
  font-size: 27px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.features-col, .products-col {
  flex-basis: 30%;
  background: #004375;
  border: 2px solid #ffffff;
  border-radius: 12px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.features-col:hover, .products-col:hover {
  box-shadow: 0 0 20px 20px #5688ce;
  border: 4px solid #73a7f0;
  background: #ff6600;
  transition: 0.3s;
}

.features-col2, .products-col2 {
  flex-basis: 30%;
  background: #004375;
  border: 2px solid #ffffff;
  border-radius: 12px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.features-col2:hover, .products-col2:hover {
  box-shadow: 0 0 20px 20px #5688ce;
  border: 4px solid #73a7f0;
  background: #ff6600;
  transition: 0.3s;
}

.features-col3, .products-col3 {
  flex-basis: 30%;
  background: #004375;
  border: 2px solid #ffffff;
  border-radius: 12px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.features-col3:hover, .products-col3:hover {
  box-shadow: 0 0 20px 20px #5688ce;
  border: 4px solid #73a7f0;
  background: #ff6600;
  transition: 0.3s;
}

.products-col img, .products-col2 img {
  max-width: 216px;
}

.success {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #ffffff;
}

.success-col {
  flex-basis: 26%;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border: 3px solid #3f4a9b;
}

.success-col img {
  width: 100%;
  transition: 1s;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.success-col:hover {
  background: #1c1c20;
  box-shadow: 0 0 20px 20px #5688ce;
  border: 4px solid #73a7f0;
  opacity: 0.7;
  transition: 1s;
  color: rgb(0, 0, 0);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: transparent;
  font-size: 26px;
  bottom: 0;
  left: 47%;
  transform: translate(-50%);
  position: absolute;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 25%;
  opacity: 1;
  color: #ffffff;
}

.faq {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #ffffff;
}

.accordion {
  background-color: #004375;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  margin-top: 0.6%;
  width: 100%;
  text-align: left;
  border: 1px solid #ffffff;
  outline: none;
  transition: 0.4s;
  border-radius: 7px;
}

.active,
.accordion:hover {
  box-shadow: 0 0 10px 10px #5688ce;
  border: 4px solid #ffffff;
  background: #ff6600;
  transition: 0.3s;
}

.panel {
  padding: 0 18px;
  background-color: transparent;
  border: 2.7px solid #73a7f0;
  display: none;
  overflow: hidden;
  border-radius: 7px;
}

.accordion:after {
  content: "\02795";
  font-size: 14px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
  color: #ffffff;
}

.testimonial-col {
  margin: 15px;
  flex-basis: 30%;
  border-radius: 7px;
  border: 0.5px solid #ffffff;
  margin-bottom: -1%;
  text-align: left;
  background: #004375;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  border-radius: 50%;
}

.testimonial-col:hover {
  background-color: #ff6600;
  box-shadow: 0 0 20px 20px #5688ce;
  border: 2px solid #73a7f0;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(https://damarrsupply.com/images/normal/cta.png) no-repeat 50% 50%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 19% 0;
}

.cta h1 {
  color: #fff;
  padding: 0;
}

.join-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 3px solid #00599c;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.join-btn:hover {
  border: 5px solid #ffffff;
  box-shadow: 0 0 10px 10px #5688ce;
  background: #ff6600;
  color: #ffffff;
  transition: 2s;
}

section.headerImage {
  margin: auto;
  width: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(https://damarrsupply.com/images/normal/header.png) no-repeat 50% 50%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 18% 0;
  position: relative;
  text-align: center;
}

.onScreenText.header {
  position: absolute;
  right: 50%;
  bottom: 20%;
  transform: translate(50%, 50%);
  text-align: center;
  font-size: small;
}

.onScreenTextResponsive.header {
  text-align: center;
  font-size: small;
  margin-top: 10%;
  margin-bottom: -10%;
}

.onScreenTextCta {
  text-align: center;
}

@media screen and (min-width: 601px) {
  .onScreenTextResponsive.header {
    display: none;
  }

  .row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }

  nav.nav-bar div.navTings {
    display: contents;
  }

  nav.nav-bar div.bars a.icon {
    display: none;
  }

  nav.nav-bar div a.icon img.bars-icon {
    display: none;
  }

  nav.nav-bar div.right li a {
    padding: 1.5rem 1rem 0rem 1rem;
  }

  nav.nav-bar div.right {
    float: right;
  }

  .onScreenTextCta {
    position: absolute;
    margin-left: 1%;
  }
}

@media screen and (max-width: 600px) {
  .onScreenText.header {
    display: none;
  }

  .onScreenTextResponsive.header .join-btn {
    border: 3px solid #004375;
  }

  .row {
    margin-top: 3%;
    justify-content: space-between;
  }

  header div.text-box {
    margin: 50px;
  }

  nav.nav-bar div.navTings {
    display: flex;
  }

  nav.nav-bar div.right li a {
    padding: 1rem 1rem 0rem 1rem;
  }

  nav.nav-bar div a.icon img.bars-icon {
    text-align: left;
    display: block;
    padding: 1rem;
    float: right;
    height: 2rem;
    width: auto;
  }

  nav.nav-bar.responsive li.hide {
    text-align: left;
    display: block;
    float: none;
  }

  div.options {
    padding: 4rem 0rem 0rem 0rem;
  }

  nav.nav-bar li.hide {
    display: none;
  }

  .onScreenTextCta {
    background-color: rgb(191, 76, 0, 0.0);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
  }

  .onScreenTextCta .join-btn {
    margin-top: 5px;
  }
}
